 *{
            box-sizing:border-box;
            font-family: 'Chakra Petch', sans-serif;
        }
body{
    margin-top:0;
    background-color:black;
    
    overflow-x:hidden;
}
.AllContainer{
/*    position:absolute;*/
/*    max-width:80%;*/
    background-color:aliceblue;
/*    width:900px;*/
    width:70vw;
    margin:0 auto;
/*    left:20%;*/
    
}
.scrollBars{
/*    overflow:visible;*/
}
#homeChunk{
    position:absolute;
    margin:0 auto;
    transition:left 1s ease; 
    top:100px;
}
#detailsChunk{
    position:absolute;
    margin:0 auto;
    transition:left 1s ease;
    opacity:0;
    top:100px;
}
#details2Chunk{
    position:absolute;
    margin:0 auto;
    transition:left 1s ease;
    opacity:0;
    top:100px;
}
#aboutChunk{
    position:absolute;
    margin:0 auto;
    transition:left 1s ease;
    opacity:0;
    top:160px;
}
.slideOff{
    animation:goOff 4s ease;
    animation-fill-mode:forwards;
}
.comeOn{
    opacity:1;
    animation:comeOn 2s ease;
    animation-fill-mode:forwards;
}
.navBar{
    position:fixed;
    margin-top:0;
    font-size:1vw;
    width:50vw;
/*    max-width:70vw;*/
    margin:.5% auto;
    left:25%;
    z-index:3;
}
.whiteBar{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:3vw;
    z-index:2;
    background-color:white;
}

.navP{
    position:relative;
    float:left;
/*    margin-left:30px;*/
    margin-top:0;
    top:15px;
    left:4vw;
    font-family: 'Press Start 2P', cursive;
}
.navP:hover{
    cursor:pointer; 
    opacity:.2;
    
}

.descriptor{
    position:relative;
    float:left;
}
.slant{
    font-size:1.5vw;
    opacity:1;
    position:relative;
    float:left;
    margin-left:30px;
    margin-top:0;
    top:5px;
    left:3vw;
    font-family: 'Press Start 2P', cursive;
}
.slant:hover{
    opacity:1;
    cursor:default;
}
.youAreHere{
    opacity:.2;
}
h1{
    position:absolute;
    color:white;
    top:60px;
    width:50vw;
    padding-top:10px;
    text-align:center;
    font-size:1.7vw;
    left:25vw;
}
h3{
    position:fixed;
    top:-.5%;
    right:3%;
    z-index:5;
    color:black;
    opacity:.1;
    z-index:5;
    font-size:1vw;
    transition:opacity 2s ease;
}
h3:hover{
    opacity:1;
    transition:opacity 2s ease;
    cursor:default;
}
h4{
    font-size:80px;
    color:white;
    opacity:.03;
}
.homeSecretsFound{
    position:relative;
    font-size:3vw;
    color:white;
    left:-5%;
    top:5vw;
    z-index:5;
    text-align:center;
    transition:opacity 2s ease;
    display:none;
}
.centering{
/*    left:10%;*/
}
.homeSecretsFound:hover{
    opacity:1;
    transition:opacity 2s ease;
}
.miniGameText{
    position:relative;
    font-size:1.5vw;
    opacity:.03;
    color:white;
    max-width:42vw;
    top:5vw;
    left:4.5vw;
    z-index:5;
    text-align:center;
/*    margin:0 auto;*/
    transition:opacity 2s ease;
}
.miniGameText:hover{
    opacity:1;
    transition:opacity 2s ease;
    cursor:default;
}
.entries{
/*    margin-top:50px;*/
    min-width:900px;
}
.entBox{
    position:relative;
    width:900px;
    margin-top:50px;
}
.entBox:Hover{
    cursor:pointer;
    opacity:.5;
}
.entry{
    width:50vw;
    height:15vw;
}
.chunks{
    position:absolute;
    max-height:100%;
    left:-200%;
    top:100px;
}
.section{
    margin-top:15%;
    width:60vw;
/*    height:20vw;*/
/*    max-height:200px;*/
/*    box-sizing:2px;*/
    box-shadow:2px 0px slategray;
     box-shadow:-2px 0px #17171c;
/*    background-color:lightgray;*/
}
.entImg{
    position:relative;
    width:55%;
    height:100%;
    max-width:90%;
    margin-left:2%;
}
.entImg img{
    margin-top:10%;
}
.entImg p{
    position:relative;
    color:white;
    top:-13vw;
    width:700px;
    max-width:100%;
    margin-left:75%;
    font-size:170%;
}
.selfie{
    position:relative;
    background-color:white;
    width:20vw;
    height:30vw;
    bottom:50px;
    left:-5vw;
    margin-top:50px;
}
.aboutDescript{
    position:absolute;
    color:white;
    top:130px;
    left:-40%;
    width: 230%;
/*    max-width:200%;*/
    margin-left:130%;
    font-size:180%;
}
 .aboutTop{
    position:absolute;
    color:white;
    top:0;
    left:-40%;
    width: 200%;
    margin-left:130%;
    font-size:200%;
}
.loadScreen{
    position:fixed;
    left:-4000px;
    top:0;
    width:100%;
    height:100%;
    z-index:10;
}
.loadScreenShow{
    animation:fadeOut 5s ease;
    animation-fill-mode:forwards;
}
.hourGlass{
    position:fixed;
    right:5vw;
    bottom:5vw;
    width:8vw;
    height:10vw;
    z-index:11;
    animation:fadeHourGlass 4.5s ease;
    animation-fill-mode:forwards;
}
.hourGlassTwo{
    position:fixed;
    right:5vw;
    bottom:5vw;
    width:8vw;
    height:10vw;
    z-index:11;
    opacity:0;
    transition:opacity 1s ease;
}
.showGlass{
    opacity:1;
    transition:opacity 1s ease;
}
.homePic{
    position:relative;
    width:40vw;
    height:30vw;
    left:6%;
/*    opacity:.5;*/
/*    margin:0 auto;*/
    margin-top:30px;
}
.hiddenBox{
    position:absolute;
    background-color:white;
    opacity:.05;
    height:5vw;
    width:5vw;
    z-index:10;
    transition:opacity 2s ease;
}
.hiddenBox:hover{
    cursor:pointer;
    opacity:1;
    transition:opacity 2s ease;
}
#sec1{
    top:10vw;
    left:5vw;
}
#sec2{
    position:fixed;
    top:0px;
    opacity:.05;
    left:10vw;
    height:3vw;
    z-index:5;
    background-color:black;
}
#sec2:hover{
    opacity:1;
    transition:opacity 2s ease;
}
#sec3{
    top:50vw;
    left:30px;
    animation:moveSecLeft 20s linear;
    animation-iteration-count:infinite;
}
#sec4{
    top:30vw;
    right:2vw;
    animation:moveSecUp 20s linear;
    animation-iteration-count:infinite;
}
#sec5{
    top:40vw;
    right:10vw;
    animation:blinkSec 20s linear;
    animation-iteration-count:infinite;
}
#sec5:hover{
    animation-play-state:blinkSec paused;
    opacity:1;
    transition:opacity 2s ease;
}
.seekregrets{
    margin-top:10vw;
    width:49vw;
    height:40vw;
    transition:opacity 2s ease;
    opacity:0;
    display:none;
}
.displayImg{
    display:block;
    opacity:1;
    transition:opacity 60s ease;
}
@keyframes goOff{
    from{left:25vw; opacity:1;}
    to{left:-400%;}
}
@keyframes comeOn{
    from{left:150%;}
    to{left:25vw;opacity:1;}
}
@keyframes blinkSec{
    0%{opacity:.005;}
    95%{opacity:.005;}
    99%{opacity:.1;}
    100%{opacity:.005;}
}
@keyframes moveSecUp{
    0%{top:100%;}
    10%{opacity:.05;}
    90%{opacity:.05;}
    100%{top:0%; opacity:0;}
}
@keyframes moveSecLeft{
    from {left:-10%;}
    to {left:110%;}
}
@keyframes fadeOut{
    0%{opacity:1; left:0; z-index:10;}
    80%{opacity:1; z-index:10;}
    98%{opacity:0; display:none; z-index:-5;left:0;}
    100%{left:-4000px; opacity:0;}
}
@keyframes fadeHourGlass{
    0%{opacity:1;}
    80%{opacity:1; z-index:10;}
    100%{opacity:0; display:none; z-index:-5;}
}
@media only screen and (max-width: 1440px) {
    body{
        background-color:slategray;
    }
    #homeChunk{
    position:absolute;
    left:25vw;
}
    h1{
        font-size:2.5vw;
    }
    h3{
        top:-1%;
        font-size:1.5vw;
    }
    .navP{
        top:.5vw;
        left:5vw;
    }
    .entImg P{
        font-size:130%;
    }
    .aboutTop{
        font-size:1.5vw;
        margin-top:4vw;
    }
    .aboutDescript{
        font-size:2vw;
        margin-top:0;
    }
    @keyframes comeOn{
    from{left:150%;}
    to{left:25vw;opacity:1;}
}
}
@media only screen and (max-width: 900px) {
    body{
        background-color:slategray;
    }
    .entry{
    width:60vw;
    height:20vw;
}
    h4{
        display:none;
    }
    .whiteBar{
        height:6vw;
    }
    .navBar{
        top:5px;
        width:100vw;
        left:-3vw;
        margin:.5% auto;
    }
    .navP{
        left:8vw;
        font-size:2.5vw;
    }
    .slant{
        
        width:.5vw;
        font-size:2.5vw;
    }
    h1{  
        
    }
    .homeAechOne{
        line-height:12vw;
        left:1vw;
         top:15vw;
        z-index:2;
        font-size:10vw;
        width:100vw;
         text-align:center;
        font-family: 'Press Start 2P', cursive;
        animation:comeOnHome 2s ease;
        animation-fill-mode:forwards;
    }
    h3{
        display:none;
    }
    .selfie{
        width:60%;
        height:100%;
        left:9%;
    }
    .aboutTop{
        top:100%;
        left:-130%;
        font-size:160%;
    }
    .aboutDescript{
/*        top:400%;*/
        margin-top:75%;
        font-size:150%;
        left:-130%;
        width:80%;
    }
    .hiddenBox{
        display:none;
    }
    .miniGameText{
        display:none;
    }
    .secretImg{
        display:none;
    }
    .seekregrets{
        display:none;
    }
    .AllContaining{
        width:70vw;
    }
    .entImg{
        width:90%;
    }
    .entImg img{
        left:20%;
    margin-top:2%;
}
    .entImg P{
        top:10px;
        width:100%;
        left:-57%;
        margin-bottom:20px;
    }
    .homePic{
        position:fixed;
        top:-10vw;
        left:-15vw;
        width:120vw;
        height:200vw;
        margin:none;
        opacity:.3;
        
    } 
    #homeChunk{
    position:absolute;
    left:15.5%;
}
    .aboutDescript{
        top:90px;
    }
    @keyframes comeOn{
    from{left:150%;}
    to{left:20vw;opacity:1;}
}
    @keyframes comeOnHome{
    from{left:150%;}
    to{left:1vw;opacity:1;}
}
}
@media only screen and (max-width: 650px) {
    body{
        background-color:black;
    }
    .AllContainer{
            width:70vw;
    }
    .navBar{
/*        font-size:40%;*/
/*        left:9vw;*/
        margin:0 auto;
        margin-left:10vw;
        width:100vw;
    }
    .whiteBar{
        height:6vw;
    }
    .slant{
        font-size:4vw;
/*        left:-20%;*/
    }
    .navP{
        top:2vw;
        left:8vw;
        font-size:1.5vw;
    }
    h1{
        top:40px;
        font-size:5vw;
/*        left:0%;*/
/*        text-align:left;*/
    }
    .aboutTop{
        font-size:130%;
    }
    .aboutDescript{
/*        top:400%;*/
        margin-top:80%;
        font-size:110%;
    }
    .homeAechOne{
        line-height:12vw;
        left:1vw;
         top:15vw;
        z-index:2;
        font-size:10vw;
        width:100vw;
         text-align:center;
        font-family: 'Press Start 2P', cursive;
        animation:comeOnHome 2s ease;
        animation-fill-mode:forwards;
    }
    #homeChunk{
    margin:0;
    left:0;
    transition:left 1s ease; 
}

    @keyframes comeOn{
    from{left:150%;}
    to{left:20vw;opacity:1;}
}
     @keyframes comeOnHome{
    from{left:150%;}
    to{left:1vw;opacity:1;}
}
}