/*<link rel="stylesheet" type="text/css" href="../css/main.css">*/
/*<link href="https://fonts.googleapis.com/css?family=Anton|Fredoka+One|Charmonman|Monoton|Cabin+Sketch|Bungee+Inline|Faster+One|Slackey" rel="stylesheet">*/
p{
    z-index:1;
    position:fixed;
    font-size:70px;
}
a{
    z-index:1;
    position:fixed;
    font-size:70px;
      text-decoration: none;
}
body{
    height:100%;
}

/*BLACK AND YELLOW*/
.yellowback{
    background-color:yellow;
    width:100%;
    height:100vh;
    top:0;
    z-index:-1;
}
.blackback{
   background-color:black; 
    width:50vw;
    height:100vh;
    top:0;
    z-index:-1;
}
.black{
    position:absolute;
    top:50%;
    left:20%;
    color:yellow;
    font-family: 'Anton', sans-serif;
}
.and{
    position:absolute;
    color:white;
    width:50%;
    top:43%;
    left:47vw;
}
.yellow{
    position:absolute;
    top:50%;
    left:70%;
    color:black;
    font-family: 'Anton', sans-serif;
}
h1{
    font-size:70px;
}
/*POUND THOSE PETUNIAS*/
.poundbody{
    background-color:skyblue;
    
}
.petuniaback{
    position:fixed;
    z-index:-1;
    height:65%;
    width:40%;
    top:2%;
    left:33%;
}
.stemback{
    position:fixed;
    z-index:-2;
    height:75%;
    width:50%;
    top:35%;
    left:25%;
}
.pound{
    top:5%;
    left:41%;
    font-family: 'Anton', sans-serif;
}
.petunias{
    top:32%;
    left:40%;
    font-family: 'Charmonman', cursive;
}
.striped{
    top:40%;
    left:41%;
    font-family: 'Anton', sans-serif;
}
.stem-suckers{
    top:68%;
    left:35%;
    font-family: 'Charmonman', cursive;
}
/*ALL OF YOU*/

.drainbody{
    background-color:black;
}
.drainback{
    position:fixed;
    z-index:-1;
    height:125%;
    width:100%;
    top:10%;
}
.allof{
    left:50%;
    top:-10%;
    color:white;
}
.allofyou_you{
    left:52%;
    top:10%;
    font-family: 'Anton', sans-serif;
}
.drain{
    font-family: 'Cabin Sketch', sans-serif;
}
.allofyou_those{
    left:75%;
    top:40%;
    color:white;
}
.flowers{
    left:76%;
    top:60%;
    font-family: 'Anton', sans-serif;
}
/*IM PICKING UP*/
.brightbody{
    background-color:black;
    transition:background-color 2s ease;
}
.brightbody:hover{
    background-color:yellow;
    transition:background-color 1s ease;
}
.picking{
    top:5%;
    left:35%;
}
.up{
    top:25%;
    left:35%;
    font-family: 'Anton', sans-serif;
}
.alotof{
    top:25%;
    left:35%;
}
.bright{
    top:45%;
    left:35%;
    font-family: 'Anton', sans-serif;
}
/*ONE OF THESE*/
.movebody{
    background-color:saddlebrown;
}
.moveflowerback{
    position:fixed;
     top:0;
    left:45%;
    width:50%;
    height:100%;
        z-index:-1;
}
.oneofthese{
    top:5%;
    left:30%;
    color:rosybrown;
}
.oneofthese_flowers{
    top:28%;
    left:37.5%;
    font-family: 'Anton', sans-serif;
}
.seems{
    top:42%;
    left:41.5%;
    font-family: 'Anton', sans-serif;
}
.tobeon{
    top:45%;
    left:30%;
    color:rosybrown;
}
.move{
    top:68%;
    left:37%;
    font-family: 'Faster One', sans-serif;
}
/*YOU ARE WAY*/
.positionbody{
    background-color:#d6ce4f;
}
.youareway_you{
    top:25%;
    left:10%;
    font-family: 'Anton', sans-serif;
}
.areway{
    top:17%;
    left:19%;
}
.youareway_out{
    top:25%;
    left:37%;
    font-family: 'Anton', sans-serif;
}
.youareway_of{
    top:17%;
    left:45%;
}
.position{
    top:50%;
    left:52%;
    font-family: 'Anton', sans-serif;
    height:700px;
}
.position:hover{
    animation: position 2s;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
}
@keyframes position {
  from { top: 50%}
  to   { top: 25%}
}
.rookie{
    top:17%;
    left:68.5%;
}
/*NECTAR PACK CHECK*/
.nectarbody{
    background-color:lightgoldenrodyellow;
}
.checkback{
    position:fixed;
    z-index:-1;
    top:15%;
    left:25%;
    height:75%;
    width:25%;
}
.checkboxback{
    position:fixed;
    height:400px;
    width:400px;
    top:25%;
    left:20%;
    border:5px solid black;
    z-index:-2;
}
.nectar{
/*
  top:45%;
  left:34%;
    transform:rotate(-60deg);
*/
    top:40%;
    left:55%;
    font-family: 'Slackey', cursive;
}
.pack{
/*
   top:1%;
  left:48%;
    transform:rotate(-50deg); 
*/
    top:40%;
    left:55%;
    font-family: 'Slackey', cursive;
}
.nectarpackcheck_check{
/*
    top:45%;
  left:46%;
    transform:rotate(-60deg);
*/
    top:60%;
    left:55%;
    font-family: 'Slackey', cursive;
}