/*<link rel="stylesheet" type="text/css" href="../css/main.css">*/
/*<link href="https://fonts.googleapis.com/css?family=Anton|Fredoka+One|Charmonman|Monoton|Cabin+Sketch|Bungee+Inline|Faster+One" rel="stylesheet">*/
p{
    z-index:1;
    position:fixed;
    font-size:70px;
}
a{
    z-index:1;
    position:fixed;
    font-size:70px;
      text-decoration: none;
    font-family: 'Anton', sans-serif;
    color:darkblue;
}
a:hover{
    color:#dcde47;
}
body{
    height:100%;
}

/*BLACK AND YELLOW*/
.yellowback{
    background-color:#dcde47;
    width:100%;
    height:100vh;
    top:0;
    z-index:-1;
}
.blackback{
   background-color:black; 
    width:50vw;
    height:100vh;
    top:0;
    z-index:-1;
}
.black{
    position:absolute;
    top:50%;
    left:20%;
    color:#dcde47;
    font-family: 'Anton', sans-serif;
}
.and{
    position:absolute;
    color:white;
    width:50%;
    top:43%;
    left:47vw;
}
.yellow{
    position:absolute;
    top:50%;
    left:70%;
    color:black;
    font-family: 'Anton', sans-serif;
}
.yellow:hover{
    color:black;
}
h1{
    font-size:70px;
}
/*POUND THOSE PETUNIAS*/
.poundbody{
    background-color:skyblue;
    
}
.petuniaback{
    position:fixed;
    z-index:-1;
    height:65%;
    width:40%;
    top:2%;
    left:33%;
}
.stemback{
    position:fixed;
    z-index:-2;
    height:75%;
    width:50%;
    top:35%;
    left:25%;
}
.pound{
    top:5%;
    left:41%;
}
.petunias{
    top:32%;
    left:44%;
}
.striped{
    top:40%;
    left:41%;
}
.stem-suckers{
    top:68%;
    left:38%;
}
/*ALL OF YOU*/

.drainbody{
    background-color:black;
}
.drainback{
    position:fixed;
    z-index:-1;
    height:125%;
    width:100%;
    top:10%;
}
.allof{
    left:50%;
    top:-10%;
    color:white;
}
.allofyou_you{
    left:52%;
    top:10%;
    font-family: 'Anton', sans-serif;
}
.drain{
    font-family: 'Cabin Sketch', sans-serif;
}
.allofyou_those{
    left:75%;
    top:40%;
    color:white;
}
.flowers{
    left:76%;
    top:60%;
    font-family: 'Anton', sans-serif;
}
/*IM PICKING UP*/
.brightbody{
    background-color:black;
/*    transition:background-color 2s ease;*/
}
.brightbody:hover{
    background-color:yellow;
    transition:background-color 1s ease;
}
.picking{
    top:5%;
    left:35%;
}
.up{
    top:25%;
    left:35%;
    font-family: 'Anton', sans-serif;
}
.alotof{
    top:25%;
    left:35%;
}
.bright{
    top:45%;
    left:35%;
    font-family: 'Anton', sans-serif;
}
/*ONE OF THESE*/
.movebody{
    background-color:saddlebrown;
}
.moveflowerback{
    opacity:1;
    position:fixed;
     top:0;
    left:45%;
    width:50%;
    height:100%;
    z-index:-1;
}

 .move:hover .moveflowerback{
    animation: moveflower 4s;
    animation-timing-function:ease-in-out;
    animation-direction:alternate-reverse;
    animation-fill-mode:forwards;
     animation-iteration-count: infinite;
}
@keyframes moveflower {
    from { left:-10% }
    to { left:45%}
   
}
.oneofthese{
    top:5%;
    left:30%;
    color:rosybrown;
}
.oneofthese_flowers{
    top:28%;
    left:37.5%;
    font-family: 'Anton', sans-serif;
}
.seems{
    top:42%;
    left:41.5%;
    font-family: 'Anton', sans-serif;
}
.tobeon{
    top:45%;
    left:30%;
    color:rosybrown;
}
.move{
    top:68%;
    left:43%;
    z-index:-1;
}

/*YOU ARE WAY*/
.positionbody{
    background-color:#d6ce4f;
}
.youareway_you{
    top:25%;
    left:10%;
    font-family: 'Anton', sans-serif;
}
.areway{
    top:17%;
    left:19%;
}
.youareway_out{
    top:25%;
    left:37%;
    font-family: 'Anton', sans-serif;
}
.youareway_of{
    top:17%;
    left:45%;
}
.position{
    top:50%;
    left:52%;
    font-family: 'Anton', sans-serif;
    height:700px;
}
.position:hover{
    animation: position 2s;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
}
@keyframes position {
  from { top: 50%}
  to   { top: 25%}
}
.rookie{
    top:17%;
    left:68.5%;
}
/*NECTAR PACK CHECK*/
.nectarbody{
    background-color:lightgoldenrodyellow;
}
.checkback{
    position:fixed;
    z-index:-1;
    top:15%;
    left:25%;
    height:75%;
    width:25%;
}
.checkboxback{
    position:fixed;
    height:400px;
    width:400px;
    top:25%;
    left:20%;
    border:5px solid black;
    z-index:-2;
}
.nectar{
/*
  top:45%;
  left:34%;
    transform:rotate(-60deg);
*/
    top:40%;
    left:55%;
}
.pack{
/*
   top:1%;
  left:48%;
    transform:rotate(-50deg); 
*/
    top:40%;
    left:55%;
}
.nectarpackcheck_check{
/*
    top:45%;
  left:46%;
    transform:rotate(-60deg);
*/
    top:60%;
    left:55%;
}
/*I DONT REMEMBER*/
.rememberbody{
    background-image: url("https://s4827.pcdn.co/wp-content/uploads/2016/07/instagram_gradient_wallpaper_mac.jpg");
    background-position:center;
}
.sunback{
    position:fixed;
    z-index:-1;
    height:100%;
    width:50%;
    top:22;
    left:25%;
}
.idontremember{
    top:0;
    left:28%;
}
.sun{
    top:23%;
    left:44%;
    z-index:3;
}
.havinga{
    top:25%;
    left:30%;
}
.big{
    top:30%;
    left:50%;
    font-size: 200px;
    font-family: 'Anton', sans-serif;
}
.sevenfive{
    top:20%;
    left:35%;
    font-size:200px;
}
.idontremember_on{
    top:65%;
    left:50%; 
    font-family: 'Anton', sans-serif;
    z-index:3;
}
.idontremember_it{
    top:57%;
    left:57%;
}
/*I COULD FEEL*/
.hotbody{
    background-color:aliceblue;
  backface-visibility: hidden;

}
.flameback{
    position:fixed;
    top:10%;
    left:30%;
    z-index:-5;
    opacity:.15;
}
.fireback{
     position:fixed;
    top:50%;
    left:39%;
    z-index:-1;
    opacity:0;
}
.icould{
    top:15%;
    left:42%;
}
.feel{
    top:35%;
    left:45%;
}
.itgetting{
    top:44%;
    left:40%;
    z-index:-2;
}
.hotter{
    top:65%;
    left:42.5%;
    z-index:-1;
}
/*
.hotter:hover .flameback{
    opacity:1;
    transition:opacity 2s ease;
    z-index:5;   
}
*/
.hotter:hover .fireback{
    opacity:1;
    transition:opacity 2s ease;
    z-index:-1;   
}
/*YOU SEE*/
.eyeback{
    position:absolute;
    top:10%;
    left:15%;
    height:60%;
    width:70%;
    z-index:-2;
}
#blink{
    opacity:0;
    z-index:-1;
}
#blink:hover{
    opacity:1;
    transition:opacity .5 linear;
}
.yousee_you{
  top:30%;
   left: 32%;
    font-size:100px;
}
.yousee_see{
   top:30%;
   left: 57%;
    font-size:100px; 
}
/*NOT LIKE A*/
.rulerbody{
    background-color:#b9b96b;
}
.rulerback{
    position:fixed;
    top:20%;
    left:13%;
}
.not{
    top:0;
    left:32%;
}
.notlikea_like{
    left:42%;
    top:9%;
}
.notlikea_flower{
    left:13%;
    top:28%;
    transition:letter-spacing 2s ease;
}
.notlikea_flower:hover{
   letter-spacing:2.17em;
    transition:letter-spacing 2s ease;
}
.buti{
    top:62%;
    left:30%;
}
.notlikea_liketwo{
    top:70%;
    left:42%;
}
/*CHECK OUT MY*/
.resumebody{
    background-color:beige;
}
.resumeback{
    position:fixed;
    z-index:-1;
    top:30%;
    left:10%;
}
.checkoutmy_check{
    top:10%;
    left:32%;
}
.outmy{
     top:2.5%;
    left:45.5%;
}
.checkoutmy_new{
    top:25%;
    left:33%;
}
.resume{
    top:25%;
    left:43%;
}
.resume:hover .whiteout{
    opacity:0;
    transition: opacity 2s ease;
}
.whiteout{
    position:fixed;
    height:50px;
    width:400px;
        left:32%;;
        top:40%;
    background-color:white;
}
/*YOURE NOT SUPPOSE*/
.notalkie{
    position:fixed;
    z-index:-1;
    top:25%;
    left:25%;
}
.youre{
    top:20%;
    left:45%;
}
.notsuppose{
    top:20%;
    left:48%;
}
.talk{
   top:30%;
    left:48%; 
}
.tohumans{
    top:50%;
    left:45%;  
}
/*YOU DONT KNOW*/
.capablebody{
    background-color:#b9b96b;
}
.abilityback{
    position:fixed;
    z-index:-1;
    top:22%;
    left:40%;
}
.youdontknow_you{
    top:50%;
    left:43%;
}
.dontknow{
    top:52%;
    left:25%;
}
.capable{
    top:75%;
    left:30%;
}
.list{
    font-size:30px;
    line-height:38px;
    top:21%;
    left:55%;
    opacity:0;
     transition:opacity .5s ease;
    transition:color .5s ease;
    color:black;
}
.capable:hover .list{
     color:black;
    opacity:1;
    transition:opacity 2s ease;
}
/*WHEN I LEAVE*/
.interviewbody{
    background-color:burlywood;
}
.interviewback{
    position:fixed;
    z-index:-1;
    height:75%;
    width:100%;
    top:20%;
    left:0%;
}
.whenileave{
    left:15%;
}
.interview{
    left:54%;
    top:9%;
}
.whenileave_theyre{
   top:38.5%;
    left:40%;
    font-size:50px;
}
.flabbergasted{
    top:52%;
    left:33%;
}
.cantbelieve{
    top:75%;
    left:20%;
}
.whenileave_say{
    top:83%;
    left:61%;
}
.notbutter{
    top:24%;
    left:33%;
    font-size:45px;
    color:white;
       opacity:0;
    transition:opacity .5s ease;
    letter-spacing:4px;
}
.whenileave_say:hover .notbutter{
    opacity:1;
    transition:opacity 2s ease;
}