
body{
    background-color:pink;
    margin:none;
}
.allfive{
/*    width:70vw;*/
/*    background-color:blue;*/
    margin:0 auto;
}
h1{
    position:absolute;
    left:calc(100%/4*2.5);
}
p{
    position:absolute;
    left:calc(100%/4*2.5);
    opacity:0;
    z-index:-1
}
.ffave{
    
}
.racp{
    top:0%;
    opacity:1;
}
.sfave{
    top:20%;  
}
.catp{
    top:20%;
    opacity:1;
}
.tfave{
    top:40%;
}
.squp{
     top:40%;
    opacity:1;
}
.fofave{
    top:60%;
}
.deep{
     top:60%;
    opacity:1;
}
.fifave{
    top:80%;
}
.cutp{
     top:80%;
    opacity:1;
}
.hideh1{
    display:none;
}
.raccpic{
    position:absolute;
    width:50vw;
    height:calc(100vh/5);
    left:0;
    top:0;
    z-index:-1;
}
.catpic{
    position:absolute;
    width:50vw;
    height:calc(100vh/5);
    left:0;
    top:calc(100%/5);
    z-index:-1;
}
.squpic{
    position:absolute;
    width:50vw;
    height:calc(100vh/5);
    left:0;
    top:calc(100%/5*2);
    z-index:-1;
}
.deepic{
    position:absolute;
    width:50vw;
    height:calc(100vh/5);
    left:0;
    top:calc(100%/5*3);
    z-index:-1;
}
.cuttpic{
    position:absolute;
    width:50vw;
    height:calc(100vh/5);
    left:0;
    top:calc(100%/5*4);
    z-index:-1;
}
#raccoon{
    width:50vw;
    height:calc(100vh/5);
    margin:0 auto;
    top:0;
}
#raccoon:hover{
    cursor:pointer;
    opacity:.9;
    margin:0 auto;
    top:0;
}
#cat{
    width:50vw;
    height:calc(100vh/5);
    margin:0 auto;
    transition:all 4s ease;
}
#cat:hover{
    cursor:pointer; 
    opacity:.9;
}
#squirrel{
    width:50vw;
    height:calc(100vh/5);
    margin:0 auto;
    transition:all 4s ease;
}
#squirrel:hover{
    cursor:pointer; 
    opacity:.9;
}
#deer{
    width:50vw;
    height:calc(100vh/5);
    margin:0 auto;
    transition:all 4s ease;
}
#deer:hover{
    cursor:pointer; 
    opacity:.9;
}
#cuttlefish{
    width:50vw;
    height:calc(100vh/5);
    margin:0 auto;
/*    transition:all 4s ease;*/
}
#cuttlefish:hover{
    cursor:pointer; 
    opacity:.9;
}
.one{
    position:absolute;
    left:0%;
    background-color:black;
    
}

.two{
    position:absolute;
    left:0%;
    top:calc(100%/5);
    background-color:red;
}

.three{
    position:absolute;
    left:0%;
    top:calc(100%/5*2);
    background-color:green;
}
.four{
    position:absolute;
    left:0%;
    top:calc(100%/5*3);
    background-color:orange;
}
.five{
    position:absolute;
    left:0%;
    top:calc(100%/5*4);
    background-color:yellow;
}
.moveIT{
    left:50%;
    transition:all 3s ease;
}
.away{
    left:10%;
    transition:all 3s ease;
}
.coverIT{
    left:0%;
    width:100vw;
    transition:all 3s ease;
}