
body{
    background-color:pink;
    margin:none;
}
.allfive{
/*    width:70vw;*/
/*    background-color:blue;*/
    margin:0 auto;
}
.mypic{
    position:absolute;
    left:0;
    display:none;
    margin:none;
    top:0;
}
.me{
    height:100vh;
    width:100vw;
    display:block;
}
h1{
    position:absolute;
    left:calc(100%/4*2.5);
}
p{
    font-size:32px;
    position:absolute;
    left:calc(100%/4*2.5);
    opacity:0;
    z-index:-1
}
.ffave{
    
}
.racp{
    top:0%;
    opacity:1;
}
.sfave{
    top:20%;  
}
.catp{
    top:20%;
    opacity:1;
}
.tfave{
    top:40%;
}
.squp{
     top:40%;
    opacity:1;
}
.fofave{
    top:60%;
}
.deep{
     top:60%;
    opacity:1;
}
.fifave{
    top:80%;
}
.cutp{
     top:80%;
    opacity:1;
}
#myButton{
    position:absolute;
    top:calc(100%/5*2);
    left:calc(100%/2); 
    z-index:2;
    color:black;
    background-color:pink;
    width:100px;
    height:80px;
}
#myButtontwo{
    position:absolute;
    top:10%;
    left:48%; 
    z-index:2;
    color:pink;
    background-color:black;
    width:60px;
    height:40px;
}
.hideh1{

    display:none;
}
.raccpic{
    position:absolute;
    width:50vw;
    height:calc(100vh/5);
    left:0;
    top:0;
    z-index:-1;
}
.catpic{
    position:absolute;
    width:50vw;
    height:calc(100vh/5);
    left:0;
    top:calc(100%/5);
    z-index:-1;
}
.squpic{
    position:absolute;
    width:50vw;
    height:calc(100vh/5);
    left:0;
    top:calc(100%/5*2);
    z-index:-1;
}
.deepic{
    position:absolute;
    width:50vw;
    height:calc(100vh/5);
    left:0;
    top:calc(100%/5*3);
    z-index:-1;
}
.cuttpic{
    position:absolute;
    width:50vw;
    height:calc(100vh/5);
    left:0;
    top:calc(100%/5*4);
    z-index:-1;
}
#raccoon{
    height:calc(100vh/5);
    margin:0 auto;
    top:0;
    transition:all 3s ease;
}
#raccoon:hover{
    cursor:pointer;
    opacity:.95;
    margin:0 auto;
    top:0;
}
#cat{
    height:calc(100vh/5);
    margin:0 auto;
    transition:all 3s ease;
}
#cat:hover{
    cursor:pointer; 
    opacity:.95;
}
#squirrel{
    height:calc(100vh/5);
    margin:0 auto;
    transition:all 3s ease;
}
#squirrel:hover{
    cursor:pointer; 
    opacity:.95;
}
#deer{
    height:calc(100vh/5);
    margin:0 auto;
    transition:all 3s ease;
}
#deer:hover{
    cursor:pointer; 
    opacity:.95;
}
#cuttlefish{
    height:calc(100vh/5);
    margin:0 auto;
    transition:all 3s ease;
}
#cuttlefish:hover{
    cursor:pointer; 
    opacity:.95;
}
.one{
    position:absolute;
    left:0%;
    background-color:black;
     width:50vw;
}

.two{
    position:absolute;
    left:0%;
    top:calc(100%/5);
     width:50vw;
    background-color:red;
}

.three{
    position:absolute;
    left:0%;
    top:calc(100%/5*2);
     width:50vw;
    background-color:green;
}
.four{
    position:absolute;
    left:0%;
    top:calc(100%/5*3);
     width:50vw;
    background-color:orange;
}
.five{
    position:absolute;
    left:0%;
    top:calc(100%/5*4);
     width:50vw;
    background-color:yellow;
}
.moveIT{
    left:50%;
    transition:all 3s ease;
}
.away{
    left:-100%;
    transition:all 3s ease;
}
.coverIT{
    height:calc(100vh/5);
    margin:0 auto;
    top:0;
    left:0%;
    width:100vw;
    transition:all 3s ease;
}
.coverIT2{
    height:calc(100vh/5);
    margin:0 auto;
    top:20%;
    left:0%;
    width:100vw;
    transition:all 3s ease;
}
.coverIT3{
    height:calc(100vh/5);
    margin:0 auto;
    top:40%;
    left:0%;
    width:100vw;
    transition:all 3s ease;
}
.coverIT4{
    height:calc(100vh/5);
    margin:0 auto;
    top:60%;
    left:0%;
    width:100vw;
    transition:all 3s ease;
}
.coverIT5{
    height:calc(100vh/5);
    margin:0 auto;
    top:80%;
    left:0%;
    width:100vw;
    transition:all 3s ease;
}