body{
    background-color:gray;
}
.Container{
    width:105vh;
    height:80vh;
    background-color:orange;
    
    margin:12vh auto;
}
/*
.BiggerContainer .tl:hover ~.Container .eye ,.whitetl{
    background-color:black;
    z-index:6;
    cursor:progress;
}
*/

#Pixel{
    float:left;
    height:5vh;
    width:5vh;
    box-sizing:0;
}
.orange{
    position:relative;
    background-color:orange;
}
.white{
    position:relative;
    background-color:white;
    
}
.fwhite{
   position:relative; 
}
.whitetl{
   position:relative; 
}
.whitetm{
   position:relative;
}
/*
.whitetr{
   position:relative;
    background-color:white; 
    z-index:4;
}
*/
.cb{
    position:relative;
    background-color:cadetblue;
}
.lb{
    position:relative;
    background-color:lightblue;
}
.brown{
    position:relative;
    background-color:saddlebrown;
}
.black{
    position:relative;
    background-color:black;
}
.pink{
    position:relative;
    background-color:pink;
}
.yellow{
    position:relative;
    background-color:yellow;
}
h2{
    position:absolute;
    font-size:3vw;
    line-height:50px;
    text-align:center;
    left:4vw;
    top:0;
    z-index:2;
    padding-top:.5vh;
    color:white;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h1{
    position:absolute;
    font-size:5vw;
    text-align:center;
    left:37vw;
    top:80vh;
    z-index:8;
    padding-bottom:.5vh;
    color:white;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.Container:hover h1{
    color:orange;
    cursor:pointer;
}
a:hover{
  cursor:pointer;  
}
h1:hover{
    color:orange;
    cursor:pointer; 
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}
.Container{
    animation: blink 7s;
/*    animation-timing-function:step-start;*/
    animation-fill-mode:both;
    animation-iteration-count:infinite;
    
   background-color:saddlebrown; 
}
.Container:hover{
    animation-play-state:paused;
}
@keyframes blink{
    0% {background-color:white;}
    90% {background-color:white;}
    99% {background-color:red;}
    100%: {background-color:saddlebrown}
    
}

.tl{
    position:absolute;
    width:calc(105vw  /6);
    height:calc(80vh  /2);
/*    background-color:green;*/
    z-index:5;
}
 .tl:hover ~ .whitetl{
    background-color:black;
}
.tm{
    position:absolute;
    left: calc(105vw /6*2.3);
    width:calc(105vw  /6);
    height:calc(80vh  /2);
/*    background-color:black;*/
    z-index:7;
}
.tm:hover ~ .whitetm{
    background-color:black;
}
.tr{
    position:absolute;
    left: calc(105vw /6*3.3);
    width:calc(105vw  /6);
    height:calc(80vh  /2);
/*    background-color:purple;*/
    z-index:5;
}
.tr:hover ~ .whitetr{
    background-color:black;
}
.whitetr{
   position:relative; 
    z-index:4;
     pointer-events:auto;
}
.whitetm{
   position:relative;
    z-index:4;
     pointer-events:auto;
}
.whitetl{
   position:relative;
    z-index:4;
     pointer-events:auto;
}
.bl{
    position:absolute;
    top:calc(52vh);
    width:calc(105vw  /6);
    height:calc(80vh/2);
/*    background-color:blue;*/
    z-index:7;
}
.bl:hover ~ .whitebl{
    background-color:black;
}
.bm{
    position:absolute;
    top:calc(52vh);
    left: calc(105vw /6*2.3);
    width:calc(105vw  /6);
    height:calc(80vh/2);
/*    background-color:black;*/
    z-index:7;
}
.bm:hover ~ .whitebm{
    background-color:black;
}
.br{
    position:absolute;
    top:calc(52vh);
    left: calc(105vw /6*3.3);
    width:calc(105vw  /6);
    height:calc(80vh/2);
/*    background-color:purple;*/
    z-index:7;
}
.br:hover ~ .whitebr{
    background-color:black;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}